# -----------------------------
# Virtual environment
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# -----------------------------
# SQLite database
# -----------------------------
outputs/*.db
*.db
*.sqlite
*.sqlite3

# -----------------------------
# Generated logs / outputs
# -----------------------------
outputs/*.csv
outputs/*.png
outputs/*.json

# -----------------------------
# Trained models
# -----------------------------
#*.joblib
#*.pkl

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# PyCharm
# -----------------------------
.idea/
